<!--
  ~  Copyright (c) 2019 Mattel, Inc. All rights reserved.
  ~  All information and code contained herein is the property of Mattel, Inc.
  ~  Any unauthorized use, storage, duplication, and redistribution of this
  ~  material without written permission from Mattel, Inc. is strictly prohibited.
  ~
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martinboy.fragmentlib" />
